DATABASE_HOST=postgres
DATABASE_NAME=series_tiempo_ar
DATABASE_USER=postgres
DATABASE_PASSWORD=database_pasword
MINIO_ACCESS_KEY=development
MINIO_SECRET_KEY=development
DEFAULT_FROM_EMAIL=dev@localhost
SECRET_KEY='clave_secreta'
MEDIA_ROOT=/ruta/en/contenedor/declarada/en/docker-compose-full/para/nginx
STATIC_ROOT=/ruta/en/contenedor/declarada/en/docker-compose-full/para/nginx
DJANGO_SECRET_KEY=secret_key_prueba
DEFAULT_REDIS_HOST=redis
DEFAULT_REDIS_PORT=6379
MINIO_STORAGE_ENDPOINT=minio:9000
DJANGO_SETTINGS_MODULE=conf.settings.local